<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', path='/styles.css')}}">
    <script type="module" src="{{url_for('static', path='/firebase-login.js')}}"></script>
</head>

<body>
    <form id="login-form">
        <div class="login-container">
            <div class="login-box" id="login-box">
                <div class="login-content">
                    <div class="login-title-container">
                        <label class="login-title">
                            Authentication 
                        </label>
                    </div>
                    <div class="input-field-container">
                        <input type="text" placeholder="Email Id" required id="email" name="email" />
                        <input type="password" placeholder="Password" required id="password" name="password" />
                    </div>
                    <div class="login-button-container">
                        <button class="login-button" id="login">Login</button>
                        <button class="login-button" id="sign-up">Sign Up</button> 
                    </div>
                    <p>New to Task Management? Create an account to get started</p>
                </div>
            </div>
        </div>
    </form>
</body>

</html>